/*Last updated - Tony Waddington, 8/3/17 11.00*/
* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Lato", arial, helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    color: #484C54;
}

.question {
    font-size: 22px;
    margin-top:0px;
    margin-bottom:20px;
    width: 100%;
}

p {
    font-size: 15px;
    width: 100%;
    margin-top: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
.answer-container i {
    color: #9EA5B5;
}

a:hover, a:hover i {
    color:#5BC4BF;
}

li, ul {
    text-align: left;
}

/* Needs re-factoring */

.nextbtn {
    background-color: #24b6d1;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.nextbtn:hover {
        background-color: #007484;
    }
.nextbtn:hover i {
    color: inherit;
}

.hide {
    display: none;
}

/*modal styles*/

.modal-content {
    padding-top: 50px;
    padding-bottom: 25px;
}

#btn-close-modal {
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    background-color: #5BC4BF;
    border-radius: 3px;
}
#btn-close-modal:hover {
    background-color: #9EA5B5;
    cursor: pointer;
}

.modal-containter {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
}

.modal-containter h1 {
    font-size: 35px;
    padding-bottom: 15px;
/*    border-bottom: 2px solid rgba(0,0,0,0.1);*/
}
.modal-containter p {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.modal-containter p:last-child {
    border-bottom: none;
}

.modal-containter img {
    width: 200px;
    height: 200px;
    margin: 0 auto 30px;
}

.closeUp {
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
    border-radius: 50%;
}
.header {
    background-color: #ECEDF0;
    position: relative;
    z-index: 999999999;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.header h3 {
    text-align: center;
    position: absolute;
    font-weight: 700;
    margin: 5px 0;
    width: 100%;
    top: 5px;
    font-size: 14px;
}

.information, .instruction {
    transform: translateY(-400%);
    transition: 1s;
}

.activeH3 {
    transform: translateY(0%);
    transition: 1s;
}

.menu {
/*        background-color: #484C54;*/
    background-color: rgba(255,255,255,1);
        width: 100%;
        position:absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 70px 10px 5px;
        box-sizing: border-box;
        z-index: 1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
.answer-container {
    width: 100px;
    margin: 5px;
}
.answer, .overlay {
/*    background-color: #5BC4BF;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 99;
    margin: 3px;
    margin-bottom: 15px;
}
.overlay {
    margin-left: calc(50% - 100px);
    margin-bottom: 30px;
    background-color: #fff;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
}
.answer p {
    opacity: 0;
}

.answer:hover {
    cursor: pointer;
}

#pruning-answer, .overlay-pruning {
    background-image: url(../img/pruningSaw.svg);
}

#secateurs-answer, .overlay-secateurs {
    background-image: url(../img/secateurs.svg);
}

#loppers-answer, .overlay-loppers {
    background-image: url(../img/loppers.svg);
}

#pole-answer, .overlay-pole {
    background-image: url(../img/pole-pruner.svg);
}

#shears-answer, .overlay-shears {
    background-image: url(../img/shears.svg);
}

.answer.answered {
/*    display: none;*/
}

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    overflow: auto;
}

.svg-container {
    background-color: #D3F0F6;
    height: 100%;
    position: relative;
    transition: 0.3s background-color;
}

.drop {
    position: absolute;
    width: 100%;
    height: calc(100% - 280px);
    bottom: 0;
    transition: 0.3s;
    background-repeat: no-repeat;
    background-size: 2560px;
    background-position: bottom center;
    overflow: hidden;
}

.svg-container, body {
    overflow: hidden;
}

.drop p {
    opacity: 0;
}

.drop-hover .drop {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    
}
#Secateurs-drop {
    background-image: url(../img/roses.svg);
}
#shears-drop {
    background-image: url(../img/hedge2.png);
}
#pruning-saw-drop {
    background-image: url(../img/small-apple.png);
}
#pole-drop {
    background-image: url(../img/big-apple2.png);
}
#loppers-drop {
    background-image: url(../img/thornyShrub.svg);
}
.hvr-grow {
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -moz-osx-font-smoothing:grayscale;
    -webkit-transition-duration:.3s;transition-duration:.3s;
    -webkit-transition-property:transform;
    transition-property:transform;
}

.hvr-grow:active,.hvr-grow:focus,.hvr-grow:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    z-index: 999;
}

.ui-state-hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    background-image: none;
    transition: 0.3s;
    background-color: #ECEDF0;
}

.answered.ui-state-hover {
    transform: none;
/*    box-shadow: none;*/
    border: none;
}

/*
.ui-state-default {
    background-color: rgba(37,182,209,0.5);
    border: 4px solid rgba(37,182,209,1);
    background-image: none;
    box-sizing: border-box;
}
*/


.answered {
/*    background-color: #fff;*/
}

#complete-page {
    z-index: 9999999999;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
/*    background-color: rgba(0,116,132,0.95);*/
    background-color: #CAEAE7;
    overflow-y: scroll;
    padding: 15px;
    display: none;
}

.conclusionBox {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    text-align: left;
     background-color: #D3F0F6;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 150%;
    margin-bottom: 20px;
}

#conclusion1 {
    background-image: url(../img/small-apple.png);
}
#conclusion2 {
    background-image: url(../img/roses.svg);
}
#conclusion3 {
    background-image: url(../img/thornyShrub.svg);
    background-position: 0% 50%;
/*    background-size: 60%;*/
}
#conclusion4 {
    background-image: url(../img/big-apple2.png);
    background-position: 0%;
}
#conclusion5 {
    background-image: url(../img/hedge2.png);
    background-position: 70% 0%;
    margin-bottom: 35px;
}

.conclusionInfo {
    margin-right: 30%;
    padding: 10px;
    padding-left: 110px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 26px 94px;
    background-position: 40px;
}

#conclusion1-info {
    background-image: url(../img/pruningSaw.svg);
}
#conclusion2-info {
    background-image: url(../img/secateurs.svg);
    background-size: 70px 86px;
    background-position: 20px;
}
#conclusion3-info {
    background-image: url(../img/loppers.svg);
    background-size: 47px 100px;
    background-position: 29px;
}
#conclusion4-info {
    background-image: url(../img/pole-pruner.svg);
    background-size: 53px 100px;
    background-position: 27px;
}
#conclusion5-info {
    background-image: url(../img/shears.svg);
    background-size: 58px 100px;
    background-position: 26px;
}

.container{
    margin: 40px auto;
    max-width: 800px;
}

.container h2 {
    font-size: 40px;
/*    color: #fff;*/
    margin-top: 0px;
}

.container i {
/*    font-size: 100px;*/
/*    color: rgba(91,196,191,1);*/
/*    color: rgba(255,255,255,0.5);*/
    color: #5BC4BF;
    padding-bottom: 15px
}

.restart-button i, .restart-button:hover i {
    color: inherit;
}
.btn {
    padding: 10px;
    border-radius: 3px;
    font-size: 18px;
    background-color: #5BC4BF;
    color: #484C54;
    margin-top: 50px;
}

.btn:hover {
    background-color: #419794;
    color: #fff;
    cursor: pointer;
}

.btn i {
    font-size: 18px;
    border: none;
}

.nextbtn {
    background-color: #ECEDF0
}

.nextbtn:hover {
    background-color: #9EA5B5;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transform-origin: center;
}


@media only screen and (max-width: 1600px) {
    .drop {
        background-size: 2000px;
    }
    
}
@media only screen and (max-width: 690px) {
    .drop {
        background-size: 1000px;
    }
}

@media only screen and (max-width: 590px) {
    .answer {
        width: 70px;
        height: 70px;
        margin: 0 auto;
    }
    
    .drop {
        height: calc(100% - 235px);
    }
}

@media only screen and (max-width: 570px) {
    .drop {
        height: calc(100% - 348px);
    }
    
    #conclusion5 {
        background-position: bottom;
    }
}
@media only screen and (max-width: 500px) {
    .question {
        font-size: 19px;
        margin-top:0px;
        margin-bottom:20px;
    }
    
    .container h2 {
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    .container{
        margin: 10px auto;
    }
    
    .conclusionInfo {
        margin-right: 20%;
        padding-left: 75px;
        background-size: 20px 73px;
        background-position: 27px;
    }

    #conclusion1-info {
        background-image: url(../img/pruningSaw.svg);
    }
    #conclusion2-info {
        background-image: url(../img/secateurs.svg);
        background-size: 50px 62px;
        background-position: 12px;
    }
    #conclusion3-info {
        background-image: url(../img/loppers.svg);
        background-size: 40px 85px;
        background-position: 19px;
    }
    #conclusion4-info {
        background-image: url(../img/pole-pruner.svg);
        background-size: 45px 85px;
        background-position: 17px;
    }
    #conclusion5-info {
        background-image: url(../img/shears.svg);
        background-size: 45px 78px;
        background-position: 16px;
    }

    
}

@media only screen and (max-width: 470px) {
    .modal-containter img {
        width: 130px;
        height: 130px;
    }
    
    .modal-content {
        padding-top: 50px;
    }
    .modal-content h1 {
        font-size: 28px;
    }

}


@media only screen and (max-height: 665px) {
    .overlay {
        width: 120px;
        height: 120px;
        float: left;
    }
    
    .nextbtn {
        float: left;
        margin-left: 20px;
    }
}
/*
@media only screen and (max-height: 580px) {
    .drop {
        top: 0;
        bottom: auto;
        min-height: 580px;
    }
}
*/

#answered-wrongly,
#answered-correctly {
    position: absolute;
    font-size: 25px;
    z-index: 999;
/*    color: #00ccb0;*/
    color: #fff;
    -webkit-text-shadow: 0 0 15px rgba(0,0,0,0.8);
    text-shadow: 0 0 15px rgba(0,0,0,0.8);
}