/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #DFF2F1;
    margin: 0;
    font-family: 'LatoWeb',sans-serif;
    color: #484C54;
    height: 100vh;
    overflow-y: hidden;
}

br {
    display: none;
}

.quote br {
    display: block;
}

.footnote {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 10px;
    font-size: 12px;
}

.quote {
    padding-left: 50px;
    position: relative;
}

.quote span {
    position: absolute;
    left: 5px;
    top: 0;
    font-size: 40px;
    Margin-top: -5px;
    color: #CEEAE8;
}

h1, h2 {
    font-family: 'LatoWeb';
}

header {
    background-color: #419794;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 99999;
    -webkit-transition: -webkit-transform 0.5s 0.3s;
    transition: -webkit-transform 0.5s 0.3s;
    -o-transition: transform 0.5s 0.3s;
    transition: transform 0.5s 0.3s;
    transition: transform 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
    color: #fff;
    top: 0;
}

header.closed {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.header-container {
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 17px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #484C54;
}

header p {
    max-width: 350px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin: 0 10px 10px;
    padding: 10px;
    font-size: 12px;
}

.header-container p:nth-of-type(1) {
    border-right: 1px solid #5BC4BF;
}

.header-container p:nth-of-type(2) {
    border-left: 1px solid #5BC4BF;
}

.instruction {
    max-width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    background-color: #5BC4BF;
}

.arrow {
    border-top: 4px solid #5BC4BF;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.arrow:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 4px solid #5BC4BF;
    border-left: none;
    border-bottom: none;
    right: 13px;
    top: 0;
    -webkit-transform: rotate(45deg) translateY(-16px);
        -ms-transform: rotate(45deg) translateY(-16px);
            transform: rotate(45deg) translateY(-16px);
}

.container {
    max-width: 100%;
    min-height: calc(100vh - 207px);
    margin: 207px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.container.open {
    margin-top: 0;
    min-height: 100%;
}

.section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    -webkit-transition: background-color 0.5s, -webkit-box-flex 0.5s;
    transition: background-color 0.5s, -webkit-box-flex 0.5s;
    -o-transition: flex 0.5s, background-color 0.5s;
    transition: flex 0.5s, background-color 0.5s;
    transition: flex 0.5s, background-color 0.5s, -webkit-box-flex 0.5s, -ms-flex 0.5s;
    position: relative;
    height: calc(100vh - 207px);
}

.section.closed {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    height: 100vh;
}
.section.open {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: #CEEAE8;
    overflow-y: auto;
}


.section:hover {
    -webkit-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
    cursor: pointer;
    background-color: #CEEAE8;
}

.section.open:hover {
    cursor: default;
}

.section.closed:hover {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
}

.section.closed.open:hover {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.section:last-of-type {
    border: none;
}

.section-container {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 900px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: top 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
    transition: top 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
    -o-transition: transform 0.5s 0.3s, top 0.5s 0.3s;
    transition: transform 0.5s 0.3s, top 0.5s 0.3s;
    transition: transform 0.5s 0.3s, top 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
    z-index: 67;
}

.section.open .section-container, .section.closed .section-container {
    top: 100px;
    left: 0;
    right: 0;
    max-width: 100%;
}

.section h2 {
    margin: 0;
    white-space: nowrap;
    text-align: center;
}

.info {
    top: 138px;
    bottom: 0;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    opacity: 0;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    padding-top: 50px;
    overflow: auto;
    z-index: 12;
}

.centre-line {
    position: fixed;
    content: "";
    border-left: 2px solid #419794;
    bottom: 0;
    left: calc(50% - 1px);
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    top: 144px;
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
}

.centre-line.open {
    -webkit-transition: -webkit-transform 0.7s 0.7s;
    transition: -webkit-transform 0.7s 0.7s;
    -o-transition: transform 0.7s 0.7s;
    transition: transform 0.7s 0.7s;
    transition: transform 0.7s 0.7s, -webkit-transform 0.7s 0.7s;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    z-index: 1;
}

.info-container {
    max-width: 600px;
    margin: 0 auto;
}

.section.open .info {
    -webkit-transition-delay: 0.7s;
         -o-transition-delay: 0.7s;
            transition-delay: 0.7s;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
}

.info-item {
    margin: 20px;
    padding: 10px 20px 10px 52px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
    opacity: 0;
    border-radius: 5px;
    border: 2px solid #5BC4BF;
}

.info-item:before {
    position: absolute;
    content: url(../img/icon.png);
    left: 5px;
    top: 20px;
    width: 15px;
    height: 15px;
}

.info-item-container {
    padding-left: 10px;
    border-left: 2px solid rgba(0,0,0,0.1);
}

.info-item:nth-of-type(odd) {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
    margin-right: 100px;
}

.section.open .info .info-item:nth-of-type(odd) {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}

.info-item:nth-of-type(even) {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 1;
    margin-left: 100px;
/*    transform-origin: left center;*/
}

.section.open .info .info-item:nth-of-type(1) {
    -webkit-transition-delay: 1.4s;
         -o-transition-delay: 1.4s;
            transition-delay: 1.4s;
}
.section.open .info .info-item:nth-of-type(2) {
    -webkit-transition-delay: 1.6s;
         -o-transition-delay: 1.6s;
            transition-delay: 1.6s;
}
.section.open .info .info-item:nth-of-type(3) {
    -webkit-transition-delay: 1.8s;
         -o-transition-delay: 1.8s;
            transition-delay: 1.8s;
}
.section.open .info .info-item:nth-of-type(4) {
    -webkit-transition-delay: 2s;
         -o-transition-delay: 2s;
            transition-delay: 2s;
}
.section.open .info .info-item:nth-of-type(5) {
    -webkit-transition-delay: 2.2s;
         -o-transition-delay: 2.2s;
            transition-delay: 2.2s;
}
.section.open .info .info-item:nth-of-type(6) {
    -webkit-transition-delay: 2.4s;
         -o-transition-delay: 2.4s;
            transition-delay: 2.4s;
}
.section.open .info .info-item:nth-of-type(7) {
    -webkit-transition-delay: 2.6s;
         -o-transition-delay: 2.6s;
            transition-delay: 2.6s;
}

.section.open .info .info-item:nth-of-type(even) {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

button {
    background-color: #5BC4BF;
    border: none;
    font-size: 20px;
    color: inherit;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 20px;
    position: fixed;
    right: 20px;
    top: 25px;
    z-index: 200;
}

button:hover {
    cursor: pointer;
    background-color: #9EA5B5;
}

.circle {
    width: 30px;
    height: 30px;
    border: 3px solid #419794;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    margin-top: 30px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    position: relative;
}

.circle:before {
    position: absolute;
    content: "";
    width: 2000px;
    border: 7px solid #419794;
    right: 100%;
    top: calc(50% - 7px);
}

.circle:after {
    position: absolute;
    content: "";
    width: 2000px;
    border: 7px solid #419794;
    left: 100%;
    top: calc(50% - 7px);
}

@media only screen and (max-width: 675px) {    
    .section h2 {
        font-size: 18px;
    }
    
    button {
        font-size: 15px;
        right: 10px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 540px) {    
    .info-item {
        margin: 20px !important;
    }
}

@media only screen and (max-width: 450px) {
    br {
        display: block;
    }
    
    .section.open br {
        display: none;
    }
    
    header h1 {
        margin-bottom: 5px;
    }
    
    .instruction {
        margin-top: 5px;
    }
    
    header p {
        margin: 0;
    }
}

@media only screen and (max-width: 400px) {
    button {
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
        top: 15px;
        margin-top: 0;
    }
    
    .section.open .section-container, .section.closed .section-container {
        top: 130px;
    }
    
    .info {
        top: 163px;
    }
}