/*Last updated - Tony Waddington, 16/03/16 15.25pm*/
* {
    box-sizing: border-box;
}
body, html {
	font-family: "Lato", arial, helvetica, sans-serif;
    color: #484c54;
    text-align: center;
    height: 100vh;
/*    width: 100%;*/
    margin: 0;
    padding:0;
    font-weight: 400;
    background-color: #fff;
    overflow-x: hidden;
}
.navigation {
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 999999;
    background-color: #484c54;
    color: #ffffff;
}

.top-instruction, .summary {
    width: 100%;
    position: absolute;
    -webkit-transform: translateY(-100px); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateY(-100px); /* IE 9 */
    transform: translateY(-100px);
    transition: 1s transform;
}

.active {
    -webkit-transform: translateY(0); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateY(0); /* IE 9 */
    transform: translateY(0);
}

.pt-page {
    overflow-y: auto;
    padding-bottom: 30px;
}
.feedback {
    opacity: 0;
}
/*page transition animation*/

.pt-page-moveToLeft, .pt-page-moveFromRight {
	-webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.fadeInOut {
    -webkit-animation: fadeInOut 1.5s ease-in-out both;
	animation: fadeInOut 1.5s ease-in-out both;
}

@-webkit-keyframes fadeInOut {
    0% {opacity: 0;}
    30% {opacity: 1;}
    70% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInOut {
    0% {opacity: 0;}
    30% {opacity: 1;}
    70% {opacity: 1;}
    100% {opacity: 0;}
}

.links {
    position: absolute;
    top: 30%;
    z-index: 9999;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 0 10px;
    
}

.instruction {
    display: inline-block;
    margin-top: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.content {
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: calc(100% - 95px);
    margin: 70px auto 0;
    padding: 0 25px 25px;
    min-height: 500px;
}

.question-number {
    margin-top: 5px;
}
.answer-container {
    display: flex;
    align-content: flex-start;
}
.question {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    margin-top: -5px;
}

.graphic {
    width: 250px;
    margin-bottom: 30px;
}

.clearfix {
    clear: both;
}
.answer {
    width: calc(50% - 15px);
    padding: 12px 20px 5px;
    float: left;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.3);
    transition: transform 0.3s;
    position: relative;
}

.answer:hover {
    -webkit-transform: scale(1.05); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: scale(1.05); /* IE 9 */
    transform: scale(1.05);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.25);
}

.correct, .wrong {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;  /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    justify-content: center;
    z-index: 0;
}

.correct {
    background-color: #5BC4BF;
}

.wrong {
    background-color: #EA5E65;
}

.answer i {
    font-size: 100px;
    align-self: center;
    color: rgba(255,255,255,0.5);
}
.symptom {
    margin-bottom: 0;
}

.hypo {
    background: #D3F0F6;
    margin-right: 15px;
}
.hypo h2 {
    color: #22B6D1;
}

.hyper {
    margin-left: 15px;
}
.hyper h2 {
    color: #EA5E65;
}

.hypo h2, .hyper h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.hyper {
    background: #F9E1E3;
}

.description {
    font-size: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.first-answers .description {
    border-bottom:none;
}

.list-btn, .close-mobile-list {
    display: none;
    padding: 10px;
    background-color: #5BC4BF;
    border-radius: 3px;
    margin-top: 20px;
}

.list-btn:hover, .close-mobile-list:hover {
    background-color: #9EA5B5;
    cursor: pointer;
}

.list p {
    margin: 0;
    font-size: 14px;
}

.list {
    margin-bottom: 15px;
}
.restart-btn:hover {
    background-color: #dde0e5;
}

.restart-btn {
    background-color: #5BC4BF;
    font-size: 25px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: inline-block;
    border-radius: 3px;
}

p {
    font-size: 18px;
    line-height: 23px;
}

/*Conclusion*/
.conclusion-para {
    width: 100%;
    margin-bottom: 60px;
}
.conclusion-container {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    margin-top: -30px;
}
.col-2 {
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;           /* IE 10 */
    flex: 1;
}

.col-2 h2 {
    text-align: right;
    margin-right: 20px;
    color: #25B6D1;
    font-size: 30px;
}

.right-col h2 {
    text-align: left;
    margin-left: 20px;
    color: #EA5E65;
}
.symptom-box p {
    display: inline-block;
    align-self: center;
    text-align: right;
}

.symptom-box:first-of-type {
    border-top: 5px solid rgba(0,0,0,0.1);
}
.symptom-box {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.divider {
    width: 5px;
    background-color: rgba(0,0,0,0.1);
}

.right-col .symptom-box {
    justify-content:flex-start;
}

.right-col p {
    text-align:left;
}

.symptom-box img {
    width: 80px;
    margin-left: 20px;
}
.right-col .symptom-box img {
    margin-right: 20px;
    margin-left: 0;
}

.col-2 h2 br {
    display: none;
}

.mobile-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: #fff;
    z-index: 9;
    padding-top: 70px;
    transform: translateY(-100%);
    transition: 0.5s;
    padding-bottom: 72px;
}

.close-mobile-list {
    padding: 10px;
    margin-top: 0px;
    font-size: 25px;
}
.close-btn-bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -90px;
    z-index: 10;
    background-color: rgba(236,237,240,0.9);
    padding: 10px;
    transition: 0.5s;
    border-top: 2px solid rgba(0,0,0,0.1);
}

.close-btn-bg.open {
    bottom: 0;
}
@media only screen and (max-width: 695px) {
    .answer h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 670px) {
    .col-2 h2 br {
        display: block;
    }
}

@media only screen and (max-width: 624px) {
    
    .graphic {
        width: 150px;
    }
    
    .question {
        font-size: 30px;
        line-height: 31px;
    }
}

@media only screen and (max-width: 605px) {
    .close-mobile-list {
        display: inline-block;
    }
    
    .mobile-list.open {
        transform: translateY(0);
    }
    .answer-container {
        flex-direction: column;
    }

    .answer {
        order: 2;
    }
    .graphic {
        width: 100px;
        height: 100px;
        margin-top: -10px;
        margin-bottom: 10px;
        order:1;
        align-self: center;
    }
    .list-open {
        display: block;
    }
    .list {
        display: none;
    }
    
    .list-btn {
        display: inline-block;
    }
    
    .list-btn1 {
        display: none;
    }
    
    .answer {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .answer h2 {
        margin-bottom: -5px;
        margin-top: -10px;
    }
    
    .hyper {
        margin-top: 15px;
    }
    
    .description {
        padding-top: 0px;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 14px;
         border-bottom: 0;
    }
    .answer p {
        margin:10px;
    }
    
    .question-number {
        font-size: 16px;
    }
    
    .question {
        font-size: 25px;
        margin-top: -15px;
    }
}

@media only screen and (max-width: 560px) { 
    .conclusion-container {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
    }
    
    .col-2 h2 br {
        display: none;
    }
    
    .conclusion-para {
        margin-bottom: 0;
    }
    
    .symptom-box p {
        text-align: left;
    }
    
    .right-col .symptom-box img {
        margin: 0;
    }
    
    .col-2 h2 {
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .divider {
        display: none;
    }
    .symptom-box {
        justify-content:space-between;
    }
    .navigation h1 {
        font-size: 16px;
    }
    .right-col .symptom-box {
        flex-direction: row-reverse;
        justify-content:space-between;
    }
}
@media only screen and (max-width: 535px) {    
    .restart-btn {
        font-size: 20px;
    }
}

@media only screen and (max-width: 492px) {
    .summary {
        padding-top: 10px;
    }
    .navigation {
        height: 60px;
    }
}